.contributorSection {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.contributorCards {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
}

.contributorCard {
  flex: 0 0 30%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.contributorCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contributorCard h3 {
  margin-top: 1rem;
}

.contributorCard p {
  color: #666;
}

